<div class="table-content">
  <h3 style="font-family: sans-serif;"> REGISTRO DE INSCRIPCIONES
    <span class="btn-options pull-right">
      <a class="btn btn-sm btn-outline-secondary btn-icon-space"
         (click)="openModal(modalEstudiante)"><i
        class="icon-user-plus"></i> Nuevo Estudiante</a>
    </span>
  </h3>
  <div class="table-box">
    <app-table
      [data]="inscripciones"
      [headers]="headersColumns"
      [total]="totalInscripciones"
      [pageSize]="pageSize"
      [filtersColumns]="filtersColumns"
      [page]="page"
      (clickPagination)="clickPagination($event)"
      (clickSort)="clickSort($event)">
    </app-table>
  </div>
</div>
<div class="filter-content">

</div>


<ng-template #modalEstudiante>
  <div class="modal-header">
    <h4 class="modal-title">Nueva Inscripcion</h4>
  </div>


    <form (ngSubmit)="submitEstudiante(form)" #form="ngForm">
      <div class="container row">
      <div class="form-group col-6">
        <label for="estudiante">Estudiante :</label>
        <select class="form-control"
                name="estudiante"
                id="estudiante"
                ngModel>
          <option [value]="estudiante.id" *ngFor="let estudiante of estudiantes">
            {{estudiante.paterno + ' ' + estudiante.materno + ' ' +estudiante.nombre }}
          </option>
        </select>
      </div>

      <div class="form-group col-6">
        <label for="curso">Curso :</label>
        <select class="form-control"
                name="curso"
                id="curso"
                ngModel>
          <option [value]="curso.id" *ngFor="let curso of cursos">
            {{curso.nombre}}
          </option>
        </select>
      </div>

      <div class="modal-footer col-12">
        <button type="button" class="btn btn-secondary" (click)="closeModal();">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>
      </div>
      </div>
    </form>


</ng-template>

