<div class="row">

  <!--{
"autoevaluacionDecir": 0,
"autoevaluacionSer": 0,
"bimestre": "string",
"decirPromedio": 0,
"hacerPromedio": 0,
"id": 0,
"idDocente": 0,
"idEstudiante": 0,
"idMateria": 0,
"indicadorCualitativo": "string",
"notaBimestralFinal": 0,
"notasDecir": "string",
"notasHacer": "string",
"notasSaber": "string",
"notasSer": "string",
"observacion": "string",
"promedioAutoevaluacion": 0,
"saberPromedio": 0,
"serPromedio": 0
}-->


  <div class="col col-xl-12 col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        Bimestre {{'Bimestre'}}
      </div>
      <div class="table-responsive">
        <table class="table" border="1">
          <thead>
          <tr>
            <th>Nº</th>
            <th>APELLIDOS Y NOMBRES</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>PROMEDIO</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>PROMEDIO</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>PROMEDIO</th>
            <th>SER</th>
            <th>DECIR</th>
            <th>PROMEDIO</th>
            <th>NOTA</th>
            <th>INDICADOR</th>
            <th>OBSERVACION</th>
          </tr>

          <tr></tr>
          <tr></tr>
          <tr></tr>





          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
