<!--<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="../../assets/images/apple.jpg" width="150px" height="150px"/>
      <h1>Sistema Academico</h1>
      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
          </div>
        </div>
        <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a><br>       &nbsp;
        <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
      </form>
    </div>
  </div>
</div>-->


<div class="login-page" [@routerTransition]>
  <div class="container">
    <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div id="remember" class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Recordarme
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" [routerLink]="['/dashboard']" (click)="onLoggedin()">Iniciar Sesion</button>
      </form><!-- /form -->
      <a href="#" class="forgot-password">
        Olvidaste el password?
      </a>
    </div>
  </div>




