
<div class="table-content">
  <h3 style="font-family: sans-serif;"> REGISTRO REUNIONES
    <span class="btn-options pull-right">
      <a class="btn btn-sm btn-outline-secondary btn-icon-space"
         (click)="openModal(modalReunion, 'Crear Nueva Reunion', 'Crear')"><i
        class="icon-user-plus"></i> Crear Reunion</a>
    </span>
  </h3>
  <div class="table-box">
    <app-table
      [data]="estudiantes"
      [headers]="headersColumns"
      [total]="totalEstudiantes"
      [pageSize]="pageSize"
      [filtersColumns]="filtersColumns"
      [page]="page"
      (clickPagination)="clickPagination($event)"
      (clickSort)="clickSort($event)"
      (clickButton)="clickButtonRow($event)">>
    </app-table>
  </div>
</div>

<div class="filter-content">

</div>


<ng-template #modalReunion>
  <div class="modal-header">
    <h4 class="modal-title">{{titleModal}}</h4>
  </div>

  <form (ngSubmit)="submitEstudiante(form)" #form="ngForm">

    <div class="row container">
      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="descripcion">Descripcion</label>
          <input id="descripcion"
                 name="descripcion"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.descripcion"/>
        </div>

      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="detalle">Detalle</label>
          <input id="detalle"
                 name="detalle"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.detalle"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="fecha">Fecha</label>
          <input id="fecha"
                 name="fecha"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.fecha"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="hora">Hora</label>
          <input id="hora"
                 name="hora"
                 type="string"
                 class="form-control"
                 [ngModel]="reunion?.hora"/>

        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="lugar">Lugar</label>
          <input id="lugar"
                 name="lugar"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.lugar"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="nombre">Nombre</label>
          <input id="nombre"
                 name="nombre"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.nombre"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="ordenDia">Orden del Dia</label>
          <input id="ordenDia"
                 name="ordenDia"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.ordenDia"/>
        </div>
      </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal();">
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary">
        {{textButton}}
      </button>
    </div>

    </div>

  </form>
</ng-template>
