.fitlerBox .filter-header {
  border-bottom: 1px solid #dee5e9;
  display: inline-block;
  padding: 10px;
  position: relative;
  width: 100%;
}

.fitlerBox button.close,
.fitlerBox button.close:hover {
  opacity: 1;
}

.fitlerBox .filter-body label {
  color: #666e7a;
  font-size: 12px;
  font-weight: normal;
}

.fitlerBox .filter-body {
  padding: 10px;
}

.fitlerBox button.close img {
  width: 21px;
}

.filter-body .input-group + .input-group {

}

.smartText {
  border-color: #ececec;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 6px;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  margin-top: -6px;
  background-color: #ffffff;
  max-height: 200px;
  overflow: auto;
  overflow-x: hidden;
}

.smartText ul li:hover {
  color: #6a707c;
  background-color: #f0f0f0;
}

.fitlerBox {
  position: absolute;
  left: 0;
  background: #fff;
  width: 140px;
  border: 1px solid #dee5e9;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.fitlerBox:after {
  position: absolute;
  content: "";
  width: 22px;
  height: 18px;
  left: 5px;
  top: -17px;
}

.fitlerBox .filter-header {
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #dee5e9;
}

.fitlerBox .filter-header:after {
  content: "";
  display: table;
  clear: both;
}

.fitlerBox .filter-header h4 {
  font-size: 16px;
  margin: 3px 0;
}

.fitlerBox .filter-body {
  padding: 10px;
}

.fitlerBox .filter-body .rzslider {
  display: block;
}

.fitlerBox button.close img {
  width: 21px;
}

.fitlerBox button.close, .fitlerBox button.close:hover {
  opacity: 1
}

.fitlerBox .filter-body label {
  font-size: 12px;
  color: #666e7a;
  font-weight: normal;
}

.fitlerBox .filter-body .rzslider {
  margin: 17px 0 20px;
}

.filter-content {
  display: block;
  position: absolute;
  top: 100%;
  right: 5px !important;
  background: #fff;
  width: 160px;
  border: 1px solid #dee5e9;
  border-radius: 4px;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.filter-content[hidden] {
  display: none;
}

.filter-content:after {
  position: absolute;
  content: "";
  width: 22px;
  height: 18px;
  right: 5px;
  top: -17px;

}

.filter-content .filter-header {
  padding: 10px 15px;
  position: relative;
  border-bottom: 1px solid #dee5e9;
}

.filter-content .filter-header:after {
  content: "";
  display: table;
  clear: both;
}

.filter-content .filter-header h4 {
  font-size: 16px;
  margin: 3px 0;
}

.filter-content .filter-body {
  padding: 10px 15px;
}

.filter-content .filter-body .rzslider {
  display: block;
}

.filter-content button.close img {
  width: 21px;
}

.filter-content button.close, .filter-content button.close:hover {
  opacity: 1
}

.filter-content .filter-body label {
  font-size: 12px;
  color: #666e7a;
  font-weight: normal;
}

.filter-content .filter-body .rzslider {
  margin: 17px 0 20px;
}
