<div>
  <form (ngSubmit)="onSubmit(filterColumn)" #filterColumn="ngForm" autocomplete="off">
    <div class="fitlerBox">
      <div class="filter-header">
        <h5 class="pull-left" style="float: left;">FILTRO</h5>
        <button type="button" class="close" (click)="closeFilter()" style="float: right;">
          <i class="mdi mdi-close-circle-outline" aria-hidden="true" style="color: red;"></i>
        </button>
      </div>

      <div class="filter-body" *ngIf="optionsSelect === null">
        <!--{{filterName}}-->
        <div class="form-group">
          <div class="form-group" [ngClass]="applyCssError(filter)">
            <input type="text" class="form-control"
                   [ngModel]="filterValue"
                   name="filter"
                   #filter="ngModel"
                   [pattern]="pattern">
            <div *ngIf="!filter.valid" style="color: #a94442; font-size: 12px; font-weight: normal;">
              {{messageError}}
            </div>
          </div>
        </div>
        <button class="btn btn-block btn-primary" type="submit" [disabled]="!filterColumn.valid">Buscar</button>
      </div>

      <div class="filter-body" *ngIf="optionsSelect !== null">
        <!--{{filterName}}-->
        <div class="form-group">
          <select class="form-control"
                  [ngModel]="filterValue"
                  name="filter"
                  #filter="ngModel"
                  (keydown)="onSubmit(filterColumn)">
            <option value="" selected>Todos</option>
            <option *ngFor="let option of optionsSelect" [value]="option['id']">
              {{option['value']}}
            </option>
          </select>
        </div>
        <button class="btn btn-block btn-primary" type="submit" [disabled]="!filterColumn.valid">Buscar</button>
      </div>

    </div>
  </form>
</div>
