<div class="table-style" style="border: 1px solid #adb5bd; border-radius: 10px; padding: 10px;">
  <div class="table-responsive" [style.min-height]="minHeight">
    <table class="table">
      <thead>
      <tr style="box-sizing: border-box;">
        <ng-template ngFor let-item [ngForOf]="this.internalHeaders" let-i="index">
          <th class="cabeza" style="height: 60px; background-color: #e2e6f1;">
               <span class="update-sort">
               {{item.displayName}}
               </span>
            <span (click)="updateSort(item)" class="update-sort" *ngIf="item.canSort">
               <img src="../../../../assets/images/sort.png" style="width: 18px; height: 18px; margin-top: -5px;"
                    *ngIf="item.canSort && column != item.name">
               <i class="fa fa-sort-amount-asc" aria-hidden="true" style="color: black;"
                  *ngIf="item.canSort && column == item.name && !isDesc"></i>
               <i class="fa fa-sort-amount-desc" aria-hidden="true" style="color: black;"
                  *ngIf="item.canSort && column == item.name && isDesc"></i>
               </span>
            <span *ngIf="item.canFilter" class="iconmoon icon-funnel filter"
                  (click)="clickFilterIcon(i)" style="cursor: pointer;text-align: left;">
               <i class="fa fa-filter" aria-hidden="true" style="color: #f39500;"></i>
               </span>
            <div *ngIf="colFilterIndex == i" class="fitlerBox" style="text-align: left;">
              <app-filter-column
                [filterValue]="item.value"
                [filterName]="item.name"
                [pattern]="item.pattern"
                [optionsSelect]="item.optionsSelect?item.optionsSelect:null"
                [messageError]="item.messageError"
                (clickCloseFilter)="closeFilter()"
                (clickSubmit)="submitFilter($event)">
              </app-filter-column>
            </div>
          </th>
        </ng-template>
      </tr>
      </thead>


      <tbody>
      <ng-template ngFor let-item [ngForOf]="this.pagedItems" let-i="index">
        <tr class="tr-style" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; height: 60px;">
          <ng-template ngFor let-col [ngForOf]="this.internalHeaders" let-i="index">
            <td (click)="selectedRow(item,col,i,$event)">

              <div *ngIf="col.type === 'image'">
                <img alt="Card image cap"
                     style="width: 68px;"
                     src="{{item[col.name] || '../../../assets/themes/materia/images/image.png'}}">
              </div>
              <div *ngIf="col.type === 'money'">{{ item[col.name] | number:'1.2' || '' }} Bs</div>

              <div *ngIf="col.type === 'actions'" class="btn-group">
              <button type="button" style="margin-left: 5px;" class="btn btn-primary btn-sm" (click)="clickButtonRow(item,col,i,$event,'edit')">
                <i class="fa fa-edit fa-lg"  ></i>
              </button>
              <button type="button" style="margin-left: 5px;" class="btn btn-danger btn-sm" (click)="clickButtonRow(item,col,i,$event,'delete')">
                <i class="fa fa-trash-o fa-lg"  ></i>
              </button>
            </div>

              <div *ngIf="col.type === 'actionsStudent'" class="btn-group">
                <button type="button" style="margin-left: 5px;" class="btn btn-primary btn-sm" (click)="clickButtonRow(item,col,i,$event,'edit')">
                  <i class="fa fa-edit fa-lg"  ></i>
                </button>
                <button type="button" style="margin-left: 5px;" class="btn btn-danger btn-sm" (click)="clickButtonRow(item,col,i,$event,'delete')">
                  <i class="fa fa-trash-o fa-lg"  ></i>
                </button>
                <button type="button" style="margin-left: 5px;" class="btn btn-danger btn-sm" (click)="clickButtonRow(item,col,i,$event,'bulletin')">
                  <i class="fa fa-file fa-lg"></i>
                </button>
              </div>

              <div *ngIf="col.type === 'actionsView'">
                <i class="fa fa-edit fa-lg" (click)="clickButtonRow(item,col,i,$event,'edit')" style="margin-left: 5px;"></i>
                <i class="fa fa-trash-o fa-lg" (click)="clickButtonRow(item,col,i,$event,'delete')" style="margin-left: 5px;"></i>
                <i class="fa fa-eye fa-lg" (click)="clickButtonRow(item,col,i,$event,'view')" style="margin-left: 5px;"></i>
              </div>
              <div *ngIf="col.type === 'actionsInscripcion'" class="btn-group">
                <button type="button" style="margin-left: 5px; display: inline-block;" class="btn btn-primary btn-sm" (click)="clickButtonRow(item,col,i,$event,'edit')">
                  <i class="fa fa-edit fa-lg"  ></i>
                </button>
                <button type="button" style="margin-left: 5px; display: inline-block;" class="btn btn-danger btn-sm" (click)="clickButtonRow(item,col,i,$event,'delete')">
                  <i class="fa fa-trash-o fa-lg"  ></i>
                </button>
                <button type="button" style="margin-left: 5px; display: inline-block;" class="btn btn-success btn-sm" (click)="clickButtonRow(item,col,i,$event,'view')">
                  <i class="fa fa-eye fa-lg"  ></i>
                </button>
                <button type="button" style="margin-left: 5px; display: inline-block;" class="btn btn-info btn-sm" (click)="clickButtonRow(item,col,i,$event,'horario')">
                  <i class="fa fa-calendar fa-lg"  ></i>
                </button>
              </div>
              <div *ngIf="col.type === 'userActions'">
                <button class="btn btn-sm btn-outline-info" (click)="clickButtonRow(item,col,i,$event,'editUser')">
                  <i class="mdi mdi-lead-pencil"></i> Editar
                </button>
                <button class="btn btn-sm btn-outline-secondary" (click)="clickButtonRow(item,col,i,$event,'resetUser')">
                  <i class="mdi mdi-redo-variant"></i> Resetear Contraseña
                </button>
              </div>
              <div *ngIf="col.type === 'statusUser'">
                <button class="btn btn-sm btn-danger" *ngIf="!item[col.name]">
                  Desactivado
                </button>
                <button class="btn btn-sm btn-success" *ngIf="item[col.name]">
                  Activado
                </button>
              </div>
              <div *ngIf="col.type === 'rolUserObject'">
                <span class="badge badge-default">{{item[col.name] ? item[col.name][col.index] : 'ninguno'}}</span>
              </div>
              <div *ngIf="col.type === 'object'">{{item[col.name] ? item[col.name][col.index] : 'ninguno'}}</div>
              <div *ngIf="col.type === 'text'">{{item[col.name] || ''}}</div>
              <div *ngIf="col.type === 'date'">{{item[col.name] | date:'dd/MM/yyyy'}}</div>
              <div *ngIf="col.type === 'dateTime'">{{item[col.name] | date:'dd/MM/yyyy hh:mm:ss '}}</div>
              <div *ngIf="col.type === 'boolean'">{{item[col.name]?'Si':'No'}}</div>
            </td>
          </ng-template>
        </tr>
      </ng-template>
      </tbody>
    </table>
    <tfoot *ngIf="total === 0">
    <span style="font-family: Arial; font-size: 15px; text-align: center;">
      No existen registros.
      </span>
    </tfoot>
  </div>
</div>
<div class="VDtable_footer" *ngIf="total > 0">
  <div class="row">
    <div class="col-sm-12" style="float: left;">
         <span class="label label-default">
         {{pager.currentPage}} de {{pager.totalPages}}, Registros Totales - {{pager.totalItems}}
         </span>
    </div>
    <div class="col-sm-12 d-flex justify-content-center mb-3">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li>
          <button [disabled]="pager.currentPage === 1" (click)="updatePagination(1)"
                  style="background: none; border: none;">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </button>
        </li>
        <li>
          <button [disabled]="pager.currentPage === 1" (click)="updatePagination(pager.currentPage - 1)"
                  style="background: none; border: none;">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </button>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="updatePagination(page)">{{page}}</a>
        </li>
        <li>
          <button [disabled]="pager.currentPage === pager.totalPages" (click)="updatePagination(pager.currentPage + 1)"
                  style="background: none; border: none;">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </button>
        </li>
        <li>
          <button [disabled]="pager.currentPage >= pager.totalPages" (click)="updatePagination(pager.totalPages)"
                  style="background: none; border: none;">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
